<div id="calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-lBO0+E/aIJhpRIYjP6dJ1mNYgo3hhUBPcF74XRfOM27g7WmDuitolvnUENdDG4QI" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 5px;
        }

        #results-container-well{
            font-size: 14px;
        }

        #results-container-well .row .col-sm-1{
            padding:0;
        }

        #results-container-well label{
            line-height: 0;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 312px;
            font-size: 19px;
            margin: -2px -2px;
            padding: 6px 0px;
        }

        .calc-container .well > div {
            padding: 0 16px;

        }

        .btn-results-container.row{
            padding: 0 12%;
        }
        .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
            padding: 0;
        }

        .btn-results-container.row > .col-sm-4{
            padding-right: 15px;
        }

        .calc-container .btn-results-container.row {
            margin-top: 16px;
        }

        .calc-container .btn-results-container .row {
            margin-top: 0px;
        }


        .calc-container .input-container{
            padding: 0 10%;
        }

        .calc-container .input-container label {
            font-size: 14px;
            font-weight: bolder;
            margin-top: 9px;
        }

        .calc-container .input-container input {
            font-size: 14px;
            font-weight: bolder;
            padding: 1% 4%;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
            margin-top: -3px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }

        .calc-container .input-container .row .col-sm-3 {
            padding-left: 0;
            padding-top: 1%;
        }

        .fa {
            color: black;
        }

        .tooltip {
            font-size: 14px;
        }

        .tooltip.show {
            font-size: 14px;
        }

        .tooltip.hide {
            font-size: 14px;
        }

        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 39px;
            font-size: 14px;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
            background-color: #158CBA;
        }

    </style>

    <div class="calc-container">
        <p align="justify">
            This is a simple Mann-Whitney U test calculator

            Please provide numbers separated by comma, and then click 'Calculate'.
        </p>
        <div class="input-container">
            <div class="row">
                <div class="col-sm-3">
                    <label for="sample1">Sample 1 :	</label>
                </div>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" id="sample1"></textarea>
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Data sample separated by commas">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="sample2">Sample 2 :	</label>
                </div>
                <div class="col-sm-8">
                    <textarea rows="4" cols="50" class="form-control" id="sample2"></textarea>
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Data sample separated by commas">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-results-container row">
            <div class="col-sm-4">
                <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                </button>
            </div>
            <div class="col-sm-8" style="padding: 0;">
                <div id="results-container-well" class="well">
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="u-val">U-value	</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-7">
                                <label id="u-val"></label>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>
    <!--algos-->
    <script type="text/javascript">
        function compare(a,b) {
            if (a[0] < b[0])
                return -1;
            if (a[0] > b[0])
                return 1;
            return 0;
        }

        function rankify(x,idx,Xlen) {
            var lmatch = new Array()
            
            var match_size = 0
            
            var lrank = new Array()

            for (k=0; k < Xlen; k++)  
                lrank[k] = k + 1;
            
            
            for (k=0; k < Xlen; k++)
                {
                    if (k == 0)
                    match_size = 0;
                    else
                    {
                        var mytmp1 = x[k]
                        var mytmp2 = x[k-1] 
                        if (Math.abs(mytmp1[idx] - mytmp2[idx]) < 1e-15)
                        {
                            match_size++;
                        }
                        else
                        {
                            match_size = 0;
                        }
                    }
                    lmatch[k] = match_size;
                }

            for (k = 0; k < Xlen; k++)
                {
                    if (k < Xlen - 1)
                    {
                        if ((lmatch[k] != 0) &
                            (lmatch[k+1] == 0))
                        {
                            sum = 0.0;
                            for (m = k; m >= k - lmatch[k]; m--)
                            {
                                sum = sum + lrank[m];
                            }
                            sum = sum/(lmatch[k] + 1.0);
                            
                            for (m = k; m >= k - lmatch[k]; m--)
                            {
                                lrank[m] = sum;
                            }
                        }
                    }
                    else
                    {
                        if (lmatch[k] != 0)
                        {
                            sum = 0.0;
                            for (m = k; m >= k - lmatch[k]; m--)
                            {
                                sum = sum + lrank[m];
                            }
                            sum = sum/(lmatch[k] + 1.0);
                            
                            for (m = k; m >= k - lmatch[k]; m--)
                            {
                                lrank[m] = sum
                            }

                        }
                    }
        }

    return lrank;
}

    </script>
     

    <script type="text/javascript">
        function computeValue(){
            var sample1 =  $('#sample1').val();
            var sample2 =  $('#sample2').val();
            if(sample1 == "" || sample2 == ""){
                alert("No numbers were entered");
                $('#val1').css({color: 'white',background: '#da4242' });
                throw Error();
            }

            try {
                sample1 = sample1.replace(' ','');
                sample2 = sample2.replace(' ','');
                var arr1 = sample1.split(',');
                var arr2 = sample2.split(',');

                var N1 = arr1.length;
                var N2 = arr2.length;
                var N = N1+N2;
                var x = new Array();

                for (k=0; k < N1; k++)
                    x[k] = [Number(arr1[k]),1];

                for (k=0; k < N2; k++)
                    x[k+N1] = [Number(arr2[k]),2];  

                x.sort(compare)

                var res_rank = new Array()

                res_rank = rankify(x,0,N);

                var xc = new Array()

                for (k=0; k < N; k++)
                xc[k] = [res_rank[k],x[k][1]];    

                var T1 = 0
                var T2 = 0

                for (k=0; k < N; k++)
                {
                    if (xc[k][1] == 1)
                    T1 = T1 + xc[k][0];
                    else
                    T2 = T2 + xc[k][0];
                }

                var TX = 0
                var NX = 0

                if (T1 >= T2)
                {
                    TX = T1;
                    NX = N1;
                }
                else
                {
                    TX = T2;
                    NX = N2;
                }

                var U = (N1 * N2) + (0.5 * NX * (NX + 1)) - TX;
                $('#u-val').text(U);   
                            
            }
            catch(err) {
                alert("Invalid paremeters");
                $('.results-container').hide();
            }

        }
    </script>


</div>


