<div id="jdc91xt_calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
            padding: 0 0px 0 5px;

        }

        .calc-container .select-container {
            display: flex;
            padding: 4px 13px 0 0;
        }

        .calc-container .select-container select{
            width: 100%;
        }

        .calc-container .input-container {
            padding: 0 0 0 3px;
            margin-left: -8px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 5px;
        }

        #results-container-well{
            font-size: 14px;
        }

        #results-container-well .row .col-sm-1{
            padding:0;
        }

        #results-container-well label{
            line-height: 0;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 600px;
            font-size: 19px;
            margin: -2px -2px;
            padding: 6px 0px;
        }

        .calc-container .well > div {
            padding: 0 16px;

        }

        .btn-results-container.row{
            padding: 13px 0px 0 0;
        }
        .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
            padding: 0;
        }

        .btn-results-container.row > .col-sm-4{
            padding-right: 15px;
        }

        .calc-container .btn-results-container.row {
            margin-top: 16px;
        }

        .calc-container .btn-results-container .row {
            margin: 10px 0;
        }

        .calc-container .input-container label {
            font-size: 14px;
            font-weight: bolder;
            margin-top: 9px;
        }

        .calc-container .input-container input {
            font-size: 14px;
            font-weight: bolder;
            padding: 1% 4%;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
            margin-top: -3px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }

        .calc-container .input-container .row .col-sm-3 {
            padding-left: 0;
            padding-top: 1%;
        }

        .fa {
            color: black;
        }

        .tooltip {
            font-size: 14px;
        }

        .tooltip.show {
            font-size: 14px;
        }

        .tooltip.hide {
            font-size: 14px;
        }

        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 39px;
            font-size: 14px;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
            background-color: #E95420;
        }

    </style>

    <div class="calc-container">
        <div id="title-div" class="row">
            <p align="justify" class="col-sm-8">
                This calculator will find the Ideal body weight and Adjusted body weight.
                Please enter your gender, height and weight, and then click 'Calculate'.
            </p>
        </div>
        <div class="input-container">
            <div class="row">
                <div class="col-sm-4">
                    <label for="gender">Gender:	</label>
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="gender" id="male" value="Male"/> Male
                </div>
                <div class="col-sm-3">
                    <input type="radio" name="gender" id="female" value="Female"/> Female
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="height">Height:	</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="height">
                </div>
                <div class="col-sm-2 select-container">
                    <select id="h-unit">
                        <option value="2.54">inch</option>
                        <option value="1">cm</option>
                    </select>
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Height in cm or inch.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="weight">Weight:	</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="weight">
                </div>
                <div class="col-sm-2 select-container">
                    <select id="w-unit">
                        <option value="0.4536">lb</option>
                        <option value="1">kg</option>
                    </select>
                </div>
                <div class="col-sm-1 icon-container">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Weight in lb or kg.">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn-results-container row">
            <div class="col-sm-4">
                <button type="button" onclick="computeValue()" class="btn btn-primary btn-lg btn-block">CALCULATE
                </button>
            </div>
            <div class="col-sm-8" style="padding: 0;">
                <div id="results-container-well" class="well">
                    <div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="ibw">Ideal Body Weight (IBW)</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-6">
                                <label id="ibw"> </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="patient">The patient is</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-6">
                                <label id="patient"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="abw">Adjusted body weight (ABW)</label>
                            </div>
                            <div class="col-sm-1">
                                <label>:</label>
                            </div>
                            <div class="col-sm-6">
                                <label id="abw"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>
    <!--algos-->
    <script type="text/javascript">
        function setGender() {
            document.getElementById('male').checked = true;
        }

        window.onload = setGender;

        function roundit(num, pre) {
            return((Math.round(num * Math.pow(10, pre))) / Math.pow(10, pre));
        }

        function computeValue() {
            var w = parseFloat($('#weight').val());
            var h = parseFloat($('#height').val());

            var wunit = $('#w-unit').val();
            var hunit = $('#h-unit').val();

            var ibw,patient,abw;
            try {
                var wei = w*wunit;
                var hei = h*hunit;

                if(document.getElementById('female').checked) {
                    //Female radio button is checked
                    hei=hei-10;
                }

                var ibw = 22 * Math.pow((hei/100) , 2);
                var abw = ibw + 0.4 *(wei-ibw);
                var diff = ((wei-ibw)/ibw)*100;

                ibw = roundit(ibw,2);
                abw = roundit(abw,2);
                diff= roundit(diff,2);

                ibw= Math.round(100*ibw/0.4536)/100 +' lb / ' + Math.round(100*ibw)/100 +' kg';

                if(diff > 29.999999) {
                    abw= Math.round(100*abw/0.4536)/100 +' lb / ' + Math.round(100*abw)/100 +' kg';
                } else {
                    abw='This person is not 30% over their IBW';
                }

                if(diff > 0) {
                    patient= diff+ ' % above IBW ';
                } else if(diff<0) {
                    patient=-diff + ' % below IBW';
                } else {
                    patient='Ideal as IBW';
                }

                $('#ibw').text(ibw);
                $('#patient').text(patient);
                $('#abw').text(abw);
            }
            catch (err) {
                alert("Invalid paremeters");
            }

        }
    </script>


</div>


