<div id="jdc91xt_calculator">

    <!--font awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--Bootstrap-->
    <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!--custom-->
    <style>
        .calc-container p {
            font-size: 16px;
        }

        .calc-container {
            width: 100%;
            margin: 0px auto;
            padding-right: 0;
            padding-left: 0;
            max-width: 660px;
        }

        .calc-container button {
            width: 100%;
        }

        .calc-container .div {
            text-align: center;
        }

        .calc-container .form-group {
            display: inline-flex;
        }

        .calc-container .row {
            margin-top: 5px;
        }


        .calc-container #results-container-well .row .col-sm-1{
            padding:0;
        }

        .calc-container #results-container-well label{
            line-height: 0;
        }

        .calc-container .well {
            min-height: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            width: 389px;
            font-size: 19px;
            margin: -2px -2px;
            padding: 6px 0px;
        }

        .calc-container .well > div {
            padding: 0 16px;

        }

        .btn-results-container.row > .col-sm-4, .btn-results-container.row > col-sm-8{
            padding: 0;
        }

        .btn-results-container.row > .col-sm-4{
            padding-right: 15px;
        }

        .calc-container .btn-results-container.row {
            margin-top: 16px;
        }

        .calc-container .btn-results-container .row {
            margin-top: 0px;
        }


        .calc-container .input-container{

        }

        .calc-container .input-container label {
            font-size: 14px;
            font-weight: bolder;
            min-height: 18px;
            padding: 0;
        }

        .calc-container .input-container input {
            font-size: 14px;
            font-weight: bolder;
            padding: 1% 4%;
        }

        .calc-container .input-container .icon-container {
            padding: 0px 0px;
            font-size: 26px;
            margin-top: -3px;
        }

        .calc-container .input-container .icon-container:hover .fa {
            color: #438dba;
        }


        .calc-container .img-container{
            padding: 19px 32px;
        }

        .calc-container button{
            height: 39px;
            font-size: 14px;
        }

        .calc-container .seperator {
            background: #E0E0E0;
        }

        .calc-container .top-margin {
            margin-top: 10px;
        }

        button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
            background-color: #E95420;
        }


        .calc-container .control-container{
            max-height: 560px;
            overflow-y: scroll;
            padding-right: 15px;
        }

        .calc-container .input-container .header{
            height: 50px;
            width:100%;
        }

        .calc-container .input-container .content{
            height: 120px;
            width: 100%;
            padding: 20px 20px 0 20px;
        }
        .calc-container .input-container .content>div{
            height: 100%;
            width: 100%;
            padding: 20px 20px 0 20px;
        }

        .calc-container .input-container .button-container{
            height: 85px;
            width: 100%;
            padding: 10px 20px;
        }

        .calc-container .input-container .select-container{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .calc-container .input-container .select-container > select{
            width: 100%;
            height:50%;
            text-align-last: center;
        }

        .calc-container .panel {
            margin-bottom: 20px;
            background-color: #ffffff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .calc-container .panel-primary {
            border-color: #e95420;
        }
        .calc-container .panel-primary > .panel-heading {
            color: #ffffff;
            background-color: #e95420;
            border-color: #e95420;
        }
        .calc-container .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .calc-container .sep{
            height :1px;
        }
        .calc-container .numerator, .denominator{
            height: 27px;
            padding: 12px;
            text-align: center;
        }

        .calc-container .input-container .content>div.decimal-container {
            padding-top: 47px;
        }

        .calc-container .decimal-fraction .content{
            margin-top: -30px;
        }

        .calc-container .fraction-decimal .answer.numerator{
            height: 86px;
            padding-top: 27px;
            margin-left: -65px;
        }

    </style>

    <div class="calc-container">
        <div id="title-div" class="row">
            <p align="justify" class="col-sm-12">
                Below are multiple fraction calculators capable of addition, subtraction, multiplication, division, simplification, and conversion between fractions and decimals.
                Enter appropriate values, ideally integers, into each field, select the desired operation, and click the "Calculate" button to calculate.
            </p>
        </div>



        <div class="control-container">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Fraction Calculator</h3>
                </div>
                <div class="panel-body">
                    <div class="input-container">
                        <div>
                            <div class="content row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="numerator1">
                                    <hr class="seperator">
                                    <input type="text" class="form-control" id="denominator1">
                                </div>
                                <div class="col-sm-2 select-container">
                                    <select id="operation">
                                        <option value="0">+</option>
                                        <option value="1">-</option>
                                        <option value="2">x</option>
                                        <option value="3">/</option>
                                    </select>
                                </div>
                                <div id="fraction2" class="col-sm-3">
                                    <input type="text" class="form-control" id="numerator2">
                                    <hr class="seperator">
                                    <input type="text" class="form-control" id="denominator2">
                                </div>
                                <div class="col-sm-1">
                                    <div class="numerator">
                                    </div>
                                    <div class="sep">
                                        <label>=</label>
                                    </div>
                                    <div class="denominator">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="numerator">
                                        <label id="res-nu"></label>
                                    </div>
                                    <div class="sep">
                                        <hr class="seperator">
                                    </div>
                                    <div class="denominator">
                                        <label id="res-de"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="button-container row">
                                <div class="col-sm-4">
                                    <button type="button" onclick="computeFractions()" class="btn btn-primary btn-lg btn-block top-margin">CALCULATE
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Simplify Fraction Calculator</h3>
                </div>
                <div class="panel-body">
                    <div class="input-container">
                        <div>
                            <div class="content row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="sim-num">
                                </div>
                                <div id="fraction1" class="col-sm-4">
                                    <input type="text" class="form-control" id="sim-nu">
                                    <hr class="seperator">
                                    <input type="text" class="form-control" id="sim-de">
                                </div>
                                <div class="col-sm-1">
                                    <div class="numerator">
                                    </div>
                                    <div class="sep">
                                        <label>=</label>
                                    </div>
                                    <div class="denominator">
                                    </div>
                                </div>
                                <div id="sim-result" class="col-sm-3">
                                    <div class="numerator">
                                        <label id="simres-nu"></label>
                                    </div>
                                    <div class="sep">
                                        <hr class="seperator">
                                    </div>
                                    <div class="denominator">
                                        <label id="simres-de"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container row">
                                <div class="col-sm-4">
                                    <button type="button" onclick="simplifyFractions()" class="btn btn-primary btn-lg btn-block top-margin">CALCULATE
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary decimal-fraction">
                <div class="panel-heading">
                    <h3 class="panel-title">Decimal to Fraction Calculator</h3>
                </div>
                <div class="panel-body">
                    <div class="input-container">
                        <div>
                            <div class="content row">
                                <div class="col-sm-4 decimal-container">
                                    <input type="text" class="form-control" id="dec-num">
                                </div>
                                <div class="col-sm-1">
                                    <div class="numerator">
                                    </div>
                                    <div class="sep">
                                        <label>=</label>
                                    </div>
                                    <div class="denominator">
                                    </div>
                                </div>
                                <div id="sim-result" class="col-sm-3">
                                    <div class="numerator">
                                        <label id="decres-nu"></label>
                                    </div>
                                    <div class="sep">
                                        <hr class="seperator">
                                    </div>
                                    <div class="denominator">
                                        <label id="decres-de"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container row">
                                <div class="col-sm-4">
                                    <button type="button" onclick="decimalToFraction()" class="btn btn-primary btn-lg btn-block top-margin">CALCULATE
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary fraction-decimal">
                <div class="panel-heading">
                    <h3 class="panel-title">Fraction to Decimal Calculator</h3>
                </div>
                <div class="panel-body">
                    <div class="input-container">
                        <div>
                            <div class="content row">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="frac-num">
                                    <hr class="seperator">
                                    <input type="text" class="form-control" id="frac-den">
                                </div>
                                <div class="col-sm-1">
                                    <div class="numerator">
                                    </div>
                                    <div class="sep">
                                        <label>=</label>
                                    </div>
                                    <div class="denominator">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="answer numerator">
                                        <label id="fracres"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container row">
                                <div class="col-sm-4">
                                    <button type="button" onclick="fractionToDecimal()" class="btn btn-primary btn-lg btn-block top-margin">CALCULATE
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.7.1/dist/jstat.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.0.1/math.min.js"></script>
    <!--algos-->
    <script type="text/javascript">
        function computeFractions() {
            var numerator1 = parseInt($('#numerator1').val());
            var numerator2 = parseFloat($('#numerator2').val());
            var denominator1 = parseInt($('#denominator1').val());
            var denominator2 = parseInt($('#denominator2').val());

            var operation = parseInt($('#operation').val());
            var result;

            try {
                var frac1 = math.fraction(numerator1, denominator1);
                var frac2 = math.fraction(numerator2, denominator2);

                switch(operation) {
                    case 0:
                        result = math.add(frac1, frac2);
                        break;
                    case 1:
                        result = math.subtract(frac1, frac2);
                        break;
                    case 2:
                        result = math.multiply(frac1, frac2);
                        break;
                    case 3:
                        result = math.divide(frac1, frac2);
                        break;
                }

                $('#res-nu').text(result.n);
                $('#res-de').text(result.d);
            }
            catch (err) {
                alert("Invalid paremeters");
            }
        }

        function simplifyFractions(){
            var number = parseInt($('#sim-num').val());
            var numerator = parseFloat($('#sim-nu').val());
            var denominator = parseInt($('#sim-de').val());

            var result;

            try {
                var newNumetator = (denominator*number)+numerator;
                result = math.fraction(newNumetator, denominator);

                $('#simres-nu').text(result.n);
                $('#simres-de').text(result.d);
            }
            catch (err) {
                alert("Invalid paremeters");
            }
        }

        function decimalToFraction() {
            var number = parseFloat($('#dec-num').val());
            var result;

            try {
                result = math.fraction(number);

                $('#decres-nu').text(result.n);
                $('#decres-de').text(result.d);
            }
            catch (err) {
                alert("Invalid paremeters");
            }
        }

        function fractionToDecimal() {
            var num = parseFloat($('#frac-num').val());
            var den = parseFloat($('#frac-den').val());
            var result;

            try {
                result =math.round( math.number(math.fraction(num, den)),6);

                $('#fracres').text(result);
            }
            catch (err) {
                alert("Invalid paremeters");
            }
        }
    </script>


</div>


